<!--使わない-->

{% extends 'base.html' %}
{% load static %}

{% block customcss %}
<link rel='stylesheet' type='text/css' href="{% static 'album.css' %}">
{% endblock customcss %}

{% block header %}
<header>
    <div class="collapse bg-dark" id="navbarHeader">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-7 py-4">
            <h4 class="text-white">Menu</h4>
            <ul class="list-unstyled">
                <li><a href="{%url 'app:logout'%}" class="text-white">Logout</a></li>
                <li><a href="{%url 'app:login'%}" class="text-white">Change Account</a></li>
                <li><a href="#" class="text-white">投稿する</a></li>
                <li><a href="{% url 'app:student_profile' user.pk %}" class="text-white">ユーザー情報</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand d-flex align-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2" viewBox="0 0 24 24" focusable="false"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
          <strong>学生向けSNS</strong>
        </a>
        <!-- 検索フォーム -->
        <div class="d-flex justify-content-center">
          <form class="form-inline my-2" method="GET" action="{% url 'app:student_home' %}">
          <input type="text" class="form-control" name="q" value="{{request.GET.q}}">
          <button type="submit" value="search" class="btn btn-outline-secondary">検索</button>
          </form>
          </div>
        <!-- 検索フォーム -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </header>

{% endblock header %}

{% block body %}
<h1>@{{ username }}</h1>
<h3>{{ object.name }}</h3>

{% if user.username == username %}
<h2>私のアカウントです</h2>
{% else %}
<h2>他のユーザーのアカウントです</h2>
{% endif %}
{% endblock %}