{% extends 'base_company.html' %}
{% load static %}

{% block customcss %}
<link rel='stylesheet' type='text/css' href="{% static 'album.css' %}">
{% endblock customcss %}

{% block content %}
<main role="main">
  <div class="album py-5 bg-light">
    <div class="container">
      <!-- 検索結果の数 -->
      {% if query %}
      <p class="text-center font-weight-bold h4">検索結果は、{{object_list.count}}件</p>
      {% endif%}
      <!-- 検索結果の数 -->
  
      <h1 class="mt-5 pt-4 text-center">企業用投稿一覧</h1>
      <div class="d-flex justify-content-center flex-wrap">
      {% for post in object %}
      <a href="{% url 'app:everypost' post_id=post.id %}">
      <div class="card m-4" style="min-width: 300; max-height: 490;"></div>
        {% if post.images %}
          <img style="max-width: 300; max-height: 300;" class="card-img-top" src="{{ post.images.url }}"> 
        {% else %}
          <div class="p-1 border border-secondary text-center pt-5" style="min-width: 300; min-height: 225;">No images</div>
        {% endif %}
        <h4 class="card-title">{{post.title|truncatechars:10 | linebreaksbr}}</h4>
        <p class="card-text">
        　{{ post.content|truncatechars:17 }}
        </p>
        <p>投稿者　{{post.author}}</p>
        <!-- <p>{{post.good}}</p>
        <p>{{post.read}}</p> -->
        <p>{{post.readtext}}</p>
      </a>
      {% endfor %}
  
    </div>
  </div>
  </main>

{% endblock content %}