{% extends 'base_society.html' %}
{% load static %}

{% block customcss %}
<link rel='stylesheet' type='text/css' href="{% static 'album.css' %}">
{% endblock customcss %}

{% block content %}
<h1 class="mt-5 pt-4 text-center">イベント作成</h1>
<form action="{% url 'app:create_event' user.pk %}" method="POST" enctype="multipart/form-data">
 {% csrf_token %}

 <label for="id_title" class="sr-only">イベント名</label>
 <input type="text" name="event_name" placeholder="イベント名" maxlength="50" class="form-control mb-3" required id="id_event_name">

 <div class="mb-3 form-control text-secondary">
  <label>画像</label>
      {{ form.images }}
</div>

 <label for="id_content" class="sr-only">本文</label>
 <textarea type="text" name="content" placeholder="本文" cols="40" rows="10" class="form-control mb-3" required id="id_content"></textarea>

 <div class="mb-3 form-control text-secondary">
    <label>URL</label>
        {{ form.url }}
 </div>

 <p>申し込み締め切り</p>
 <div style="text-align: center;">
 <label for="id_deadline" class="sr-only">申し込み締め切り</label>
 <input type="datetime-local" name="deadline" placeholder="開催日時" required id="id_deadline">
 </div>
 <br>
 
 <p>開催日時</p>
 <div style="text-align: center;">
 <label for="id_event_date" class="sr-only">開催日時</label>
 <input type="datetime-local" name="event_date" placeholder="開催日時" required id="id_event_date">
 </div>
 <br>

 <p>追加で入力して欲しい情報</p>
 <div style="text-align: center;">
 <label for="id_info" class="sr-only">追加情報</label>
  {{form_info.info_title}}
 </div>
 <br>

 <div style="text-align: center;">
 <button type="submit" class="btn btn-block btn-outline-success">作成する</button>
</div>
</form>
{% endblock %}