{% extends 'base.html' %}
{% load static %}

{% block customcss %}
<link rel='stylesheet' type='text/css' href="{% static 'album.css' %}">
{% endblock customcss %}

{% block header %}
{% if user.is_society %}
<header>
    <div class="collapse bg-dark" id="navbarHeader">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-7 py-4">
            <h4 class="text-white">Menu</h4>
            <ul class="list-unstyled">
                <li><a href="{%url 'app:society_home' user.pk %}" class="text-white">top</a></li>
                <li><a href="{%url 'app:logout'%}" class="text-white">Logout</a></li>
                <li><a href="{%url 'app:login'%}" class="text-white">Change Account</a></li>
                <li><a href="{%url 'app:view_events' user.pk %}" class="text-white">イベント</a></li>  
                <li><a href="{% url 'app:add' user.pk %}" class="text-white">投稿する</a></li>
                <li><a href="{% url 'app:society_profile' user.pk %}" class="text-white">ユーザー情報</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container d-flex justify-content-between">
        <a href="{%url 'app:society_home' user.pk %}" class="navbar-brand d-flex align-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2" viewBox="0 0 24 24" focusable="false"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
          <strong>学生向けSNS</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </header>

{% elif user.is_company %}
  <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">Menu</h4>
              <ul class="list-unstyled">
                <li><a href="{%url 'app:company_home' user.pk %}" class="text-white">top</a></li>
                <li><a href="{%url 'app:logout'%}" class="text-white">Logout</a></li>
                <li><a href="{%url 'app:login'%}" class="text-white">Change Account</a></li>
                <li><a href="{%url 'app:view_events' user.pk %}" class="text-white">イベント</a></li>
                <li><a href="{% url 'app:add_company' user.pk %}" class="text-white">投稿する</a></li>
                <li><a href="{% url 'app:company_profile' user.pk %}" class="text-white">ユーザー情報</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
          <a href="{%url 'app:company_home' user.pk %}" class="navbar-brand d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2" viewBox="0 0 24 24" focusable="false"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
            <strong>学生向けSNS</strong>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>
{% endif %}
{% endblock header %}

{% block content %}
<h1 class="mt-5 pt-4 text-center">イベント作成</h1>
<div class="w-50 mx-md-auto">
    <form action="{% url 'app:create_event' user.pk %}" method="POST" enctype="multipart/form-data">
     {% csrf_token %}
    
     <label for="id_title" class="sr-only">イベント名</label>
     <input type="text" name="event_name" placeholder="イベント名" maxlength="50" class="form-control mb-3" required id="id_event_name">
    
     <div class="mb-3 form-control text-secondary">
      <label>画像</label>
        {{ form.images }}
     </div>
    
     <label for="id_content" class="sr-only">本文</label>
     <textarea type="text" name="content" placeholder="本文" cols="40" rows="10" class="form-control mb-3" required id="id_content"></textarea>

     <p>URL情報</p>
     <div style="text-align: center;">
     <label for="id_info" class="sr-only">URL</label>
     {{ form.url }}
     </div>
    
     <p>申し込み締め切り</p>
     <div style="text-align: center;">
     <label for="id_deadline" class="sr-only">申し込み締め切り</label>
     <input type="datetime-local" name="deadline" placeholder="開催日時" required id="id_deadline">
     </div>
     <br>
     
     <p>開催日時</p>
     <div style="text-align: center;">
     <label for="id_event_date" class="sr-only">開催日時</label>
     <input type="datetime-local" name="event_date" placeholder="開催日時" required id="id_event_date">
     </div>
     <br>
    
     <p>追加で入力して欲しい情報</p>
     <div style="text-align: center;">
     <label for="id_info" class="sr-only">追加情報</label>
      {{form_info.info_title}}
     </div>
     <br>
    
     <div style="text-align: center;">
     <button type="submit" class="btn btn-block btn-outline-success">作成する</button>
     </div>
    </form>
</div>
{% endblock %}