{% extends 'base_student.html' %}
 
{% block customecss %}
{% endblock customecss %}


{% block content %}
<br>
<div class="container">
 
  <div class="alert alert-success" role="alert">
    {% if company.image %}
    <img style="width:100px; height: 100px; object-fit:cover; border-radius:50%; ;" src="{{ company.image.url }}" alt="no img"> 
    {% endif %}
    <p>企業名：{{company.company_name}}</p>
    <p>代表者連絡先：{{company.email}}</p>
    <p>
      URL情報：
      {%if company.url_info %}
    <a href="{{company.url_info}}">{{ company.url_info }}</a>
      {% endif %}
    </p>

    <div class="btn-group">
      {% if company.connected %}
      <a href="{%url 'app:unfollow_company_from_detail' company.email %}" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">フォロー解除</a>
      {% else %}
        <a href="{%url 'app:follow_company_from_detail' company.email %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">フォロー</a>
      {% endif %}
    </div>

  </div>
 
 
</div>

<div class="p-3">

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a href="#posts" class="nav-link active" data-toggle="tab">投稿</a>
    </li>
    <li class="nav-item">
      <a href="#events" class="nav-link" data-toggle="tab">イベント</a>
    </li>
  </ul>

  <div class="tab-content">
    <div id="posts" class="tab-pane active">
      <h1 class="mt-5 pt-4 text-center">投稿一覧</h1>
      <div class="row row-cols-1 row-cols-md-3">
        {% for post in posts %}
        <div class="col mb-4">
          <div class="card m-4 " style=" max-height: 490;">
            {% if post.images %}
              <img style="max-height: 300;" class="card-img-top" src="{{ post.images.url }}"> 
              <hr>
            {% else %}
              <div class="p-1 border border-secondary text-center pt-5" style="min-width: 300; min-height: 225;">No images</div>
            {% endif %}
            <p class="card-text">
              {% if company.image %}
              <img style="width:50px; height: 50px; object-fit:cover; border-radius:50%;" align="middle" src="{{ company.image.url }}" alt="no img">
              {% endif %}
              {{post.author}}
            </p>
            <a href="{% url 'app:everypost' post_id=post.id %}">
            <h4 class="card-title" style="text-align:center;">{{post.title|truncatechars:10 | linebreaksbr}}</h4>
            </a>
            <p class="card-text">
            　{{ post.content|truncatechars:17 }}
            </p>
            <!--<p>{{post.good}}</p>
            <p>{{post.read}}</p> -->
            <p class="card-text">{{post.readtext}}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div id="events" class="tab-pane">
      <h1 class="mt-5 pt-4 text-center">イベント一覧</h1>
        <div class="row row-cols-1 row-cols-md-3">
          {% for event in events %}
          <div class="col mb-4" style="border:1px solid rgb(163, 159, 159)">
            <div class="card m-4" style="max-height: 400;">
              {% if event.images %}
                <img style="max-height: 300;" class="card-img-top" src="{{ event.images.url }}"> 
                <hr class="mt-0">
              {% else %}
              <!--
                <div class="p-1 border border-secondary text-center pt-5" style="min-width: 300; min-height: 225;">No images</div>
              -->
              {% endif %}
              <p class="card-text">
                {% if company.image %}
                <img style="width:50px; height: 50px; object-fit:cover; border-radius:50%;" align="middle" src="{{ company.image.url }}" alt="no img">
                {% endif %}
                {{event.society.company_name}}
              </p>
              <a href="{%url 'app:everyevent' user.pk event.id %}">
              <h4 class="card-title" style="text-align:center;">{{event.event_name|truncatechars:10 | linebreaksbr}}</h4>
              </a>
  
              <p class="card-text">
              　{{ event.content|truncatechars:17 }}
              </p>
              <!-- <p>{{post.good}}</p>
              <p>{{post.read}}</p> -->
              <p class="card-text">{{event.event_date}}</p>
            </div>
          </div>
          {% endfor %}
        </div>
    </div>
  </div>

</div>
{% endblock content %}