{% extends 'base.html' %}
 
{% block customecss %}
{% endblock customecss %}
 
{% block header %}
<header>
    <div class="collapse bg-dark" id="navbarHeader">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-7 py-4">
            <h4 class="text-white">Menu</h4>
            <ul class="list-unstyled">
                <li><a href="{%url 'app:student_home'%}" class="text-white">top</a></li>
                <li><a href="{%url 'app:logout'%}" class="text-white">Logout</a></li>
                <li><a href="{%url 'app:login'%}" class="text-white">Change Account</a></li>
                <li><a href="#" class="text-white">投稿する</a></li>
                <li><a href="#" class="text-white">ユーザー情報</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand d-flex align-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2" viewBox="0 0 24 24" focusable="false"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
          <strong><a class="navbar-brand" href="{%url 'app:student_home'%}">学生向けSNS</a></strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </header>
{% endblock header %}
 
{% block content %}
<br>
<div class='container'>
 
  <div class="alert alert-success" role="alert">
    <p>タイトル：{{object.title}}</p>
    <p>投稿者：{{object.auther}}</p>
    <p>内容：{{object.content}}</p>
    <p><img src="{{object.images.url}}" width=300></p>
 
    <!--<a href="#" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">いいねする</a>-->
    <a href="{%url 'app:good' object.pk %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">いいね：{{item.good}}</a>
    <a href="#" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">既読にする</a>
  </div>
 
 
</div>
{% endblock content %}