{% extends 'base_society.html' %}
{% load widget_tweaks %}
{% load static %}

{% block customcss %}
<link rel='stylesheet' type='text/css' href="{% static 'album.css' %}">
{% endblock customcss %}


{% block content %}
<h1 class="mt-5 pt-4 text-center">編集</h1>
<div class="w-50 mx-md-auto">
    <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <label for="id_title" class="sr-only">タイトル</label>
    {{ form.title|add_class:"form-control mb-3"}}

    <label for="id_content" class="sr-only">本文</label>
    {{ form.content|add_class:"form-control mb-3"}}

    <div class="mb-3 form-control text-secondary">
    <label>画像</label>
    {{ form.images }}
    </div>

    <br>
    <br>
    <div class="mb-3 form-control text-secondary">
    <label>URL</label>
    {{ form.url }}
    </div>

    <!--<label for="id_author" class="sr-only">author</label>
    <input type="text" name="author" placeholder="投稿者" maxlength="50" class="form-control mb-3" required id="id_author">

    <div class="mb-3 form-control text-secondary">
    <label>いいね(・∀・)ｲｲﾈ!!</label>
    {{ form.good }}
    </div>

    <div class="mb-3 form-control text-secondary">
    <label>閲覧数</label>
    {{ form.read }}
    </div>

    <div class="mb-3 form-control text-secondary">
    <label>readtext</label>
    {{ form.readtext }}
    </div>-->
    <br>
    <br>
    <button type="submit" class="btn btn-block btn-outline-success">編集する</button>
    </form>
</div>
{% endblock %}