{% extends 'base.html' %}
{% load static %}

{% block customcss %}
<link rel='stylesheet' type='text/css' href="{% static 'album.css' %}">
{% endblock customcss %}

{% block header %}
{% if user.is_student %}
<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">Menu</h4>
          <ul class="list-unstyled">
              <li><a href="{%url 'app:student_home' user.pk %}" class="text-white">top</a></li>              
              <li><a href="{%url 'app:logout'%}" class="text-white">Logout</a></li>
              <li><a href="{%url 'app:login'%}" class="text-white">Change Account</a></li>
              <li><a href="{%url 'app:view_societies' user.pk %}" class="text-white">サークル一覧</a></li>
              <li><a href="{%url 'app:view_events' user.pk %}" class="text-white">イベント一覧</a></li>
              <li><a href="{% url 'app:student_profile' user.pk %}" class="text-white">ユーザー情報</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="{%url 'app:student_home' user.pk %}" class="navbar-brand d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2" viewBox="0 0 24 24" focusable="false"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
        <strong>学生向けSNS</strong>
      </a>
      <!-- 検索フォーム -->
      <div class="d-flex justify-content-center">
        <form class="form-inline my-2" method="GET" action="{% url 'app:search' user.pk %}">
        <input type="text" class="form-control" name="q" value="{{request.GET.q}}">
        <button type="submit" value="search" class="btn btn-outline-secondary">検索</button>
        </form>
        </div>
      <!-- 検索フォーム -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>

{% elif user.is_society %}
<header>
    <div class="collapse bg-dark" id="navbarHeader">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-7 py-4">
            <h4 class="text-white">Menu</h4>
            <ul class="list-unstyled">
                <li><a href="{%url 'app:society_home' user.pk %}" class="text-white">top</a></li>
                <li><a href="{%url 'app:logout'%}" class="text-white">Logout</a></li>
                <li><a href="{%url 'app:login'%}" class="text-white">Change Account</a></li>
                <li><a href="{%url 'app:view_events' user.pk %}" class="text-white">イベント</a></li>  
                <li><a href="{% url 'app:add' user.pk %}" class="text-white">投稿する</a></li>
                <li><a href="{% url 'app:society_profile' user.pk %}" class="text-white">ユーザー情報</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container d-flex justify-content-between">
        <a href="{%url 'app:society_home' user.pk %}" class="navbar-brand d-flex align-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2" viewBox="0 0 24 24" focusable="false"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
          <strong>学生向けSNS</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </header>

{% elif user.is_company %}
  <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">Menu</h4>
              <ul class="list-unstyled">
                <li><a href="{%url 'app:company_home' user.pk %}" class="text-white">top</a></li>
                <li><a href="{%url 'app:logout'%}" class="text-white">Logout</a></li>
                <li><a href="{%url 'app:login'%}" class="text-white">Change Account</a></li>  
                <li><a href="{% url 'app:add_company' user.pk %}" class="text-white">投稿する</a></li>
                <li><a href="{% url 'app:company_profile' user.pk %}" class="text-white">ユーザー情報</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
          <a href="{%url 'app:company_home' user.pk %}" class="navbar-brand d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2" viewBox="0 0 24 24" focusable="false"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
            <strong>学生向けSNS</strong>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>
{% endif %}
{% endblock header %}

{% block content %}
<main role="main">
<h1 class="mt-5 pt-4 text-center">イベント一覧</h1>
<div class="album py-5 bg-light">
  <div class="container">
    {% for event in event_list %} 
    <div class="row">
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <br>
                <div class="card-body">
                  {% if event.images %}
                  <img style=" max-height: 300;" class="card-img-top" src="{{ event.images.url }}"> 
                  <hr>
                  {% else %}
                  <!--
                  <div class="p-1 border border-secondary text-center pt-5" style="min-width: 300; min-height: 225;">No images</div>
                  -->
                  {% endif %}
                    <p><a href="{%url 'app:everyevent' user.pk event.id %}">{{event.event_name}}</a></p>
                    <p>{{event.content}}</p>
                    <p class="card-text">開催日時: {{ event.event_date |date:"y/n/j, H:i"}} ~ </p>
                    <p class="card-text">申し込み締め切り: {{ event.deadline |date:"y/n/j, H:i"}} まで </p>


                    {% if user.is_student %}
                      <p class="card-text">
                        <a href="{%url  'app:detail_society' user.pk event.society.id %}">
                          {% if event.society.image %}
                          <img style="width:50px; height: 50px; object-fit:cover; border-radius:50%;" align="middle" src="{{ event.society.image.url }}" alt="no img">
                          {% endif %}
                          {{event.society.society_name}}
                        </a>
                      </p>
                      <div class="d-flex justify-content-between align-items-center">
                      {% if event.joined %}
                        <div class="btn-group">
                          <a href="#" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">申し込み済み</a>
                        </div>
                      {% elif event.expired %}
                        <div class="btn-group">
                          <a href="#" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">申し込み期限切れ</a>
                        </div>
                      {% endif %}
                     </div> 
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
    {% endfor %}
  </div>

  {% if user.is_society %}
  <div style="text-align: center;">
    <div class="btn-group">
      <a href="{%url 'app:create_event' user.pk %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">イベント作成</a>
    </div>
  </div>
  {% endif %}
</div>
</main>
{% endblock content %}
</html>