{% extends 'base_society.html' %}

{% block customecss %}
{% endblock customecss %}
 

{% block content %}   

<div class="card text-secondary" style="margin-top: 55px;">
<div class="card-body">
   <h3 class="card-title font-weight-bold text-center">{{ event.event_name }}</h3>
   <div class="p-3">
   <p class="card-text">{{ event.content }}</p>
   <p class="card-text">開催日時: {{ event.event_date |date:"y/n/j, H:i"}}</p>

  {% if user.is_student %}
      <p>サークル: </sa-kuru><a href="{%url 'app:detail_society' user.pk event.society.id %}">{{event.society.society_name}}</a></p>
      {% if event.joined %}
        <p>あなたはすでにこのイベントに申し込み済です。</p>
        <div style="text-align: center;">
          <div class="btn-group">
            <a href="{%url 'app:cancel_event' user.pk event.id %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">参加キャンセル</a>
          </div>
        </div>
      {% elif event.expired %}
        <p>このイベントの申し込み期限は過ぎています。</p>
      {% else%}
      <div style="text-align: center;">
        <div class="btn-group">
          <a href="{%url 'app:join_event_confirm' user.pk event.id %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">参加フォームへ</a>
        </div>
      </div>
      {% endif%}

  {% elif user.is_society %}
  <br>

   <h5 style="text-align:center">参加者名簿</h5>
   <br>
   <div style="text-align: center;">

    <style type="text/css">
    table {
      border-collapse: collapse;
      color: #333; /* 全体の文字色 */
      background-color: #f0f2f7; /* 全体の背景色 */
      width: 100%;
    }
    th, td {
      padding: 5px 15px;
      border: solid 1px #adb3c1;
    }</style>

    {% if event.flag %}
    <table>
      <tr>
        <th>姓</th>
        <th>名</th>
        <th>メールアドレス</th>
        <th>{{event.extra}}</th>
      </tr>
      {% for student in students %}
      <tr>
        <td>{{student.first_name}}</td>
        <td>{{student.last_name}}</td>
        <td>{{student.email}}</td>
        <td>{{student.info}}</td>
      </tr>
      {% endfor %}
    </table>

    {% else %}
    <table>
      <tr>
        <th>姓</th>
        <th>名</th>
        <th>メールアドレス</th>
      </tr>
      {% for student in event.students.all%}
      <tr>
        <td>{{student.first_name}}</td>
        <td>{{student.last_name}}</td>
        <td>{{student.email}}</td>
      </tr>
      {% endfor %}
    </table>
    {% endif %}

   </div>
  </div>

 <br>
  <div style="text-align: center;">
   <div class="btn-group">
     <a href="{%url 'app:edit_event' user.pk event.id %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">イベント編集</a>
   </div>
 </div>

  <br>
  <div style="text-align: center;">
   <div class="btn-group">
     <a href="{%url 'app:delete_event' user.pk event.id %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">イベント削除</a>
   </div>
 </div>
 {% endif %}

</div>
</div>
{% endblock %}