{% extends 'base.html' %}

{% block customecss %}
{% endblock customecss %}
 
{% block header %}
{% if user.is_student %}
<header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">Menu</h4>
          <ul class="list-unstyled">
              <li><a href="{%url 'app:student_home' user.pk %}" class="text-white">top</a></li>              
              <li><a href="{%url 'app:logout'%}" class="text-white">Logout</a></li>
              <li><a href="{%url 'app:login'%}" class="text-white">Change Account</a></li>
              <li><a href="{%url 'app:view_societies' user.pk %}" class="text-white">サークル一覧</a></li>
              <li><a href="{%url 'app:view_events' user.pk %}" class="text-white">イベント一覧</a></li>
              <li><a href="{% url 'app:student_profile' user.pk %}" class="text-white">ユーザー情報</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark shadow-sm">
    <div class="container d-flex justify-content-between">
      <a href="{%url 'app:student_home' user.pk %}" class="navbar-brand d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2" viewBox="0 0 24 24" focusable="false"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
        <strong>学生向けSNS</strong>
      </a>
      <!-- 検索フォーム -->
      <div class="d-flex justify-content-center">
        <form class="form-inline my-2" method="GET" action="{% url 'app:search' user.pk %}">
        <input type="text" class="form-control" name="q" value="{{request.GET.q}}">
        <button type="submit" value="search" class="btn btn-outline-secondary">検索</button>
        </form>
        </div>
      <!-- 検索フォーム -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header>

{% elif user.is_society %}
<header>
    <div class="collapse bg-dark" id="navbarHeader">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-7 py-4">
            <h4 class="text-white">Menu</h4>
            <ul class="list-unstyled">
                <li><a href="{%url 'app:society_home' user.pk %}" class="text-white">top</a></li>
                <li><a href="{%url 'app:logout'%}" class="text-white">Logout</a></li>
                <li><a href="{%url 'app:login'%}" class="text-white">Change Account</a></li>
                <li><a href="{%url 'app:view_events' user.pk %}" class="text-white">イベント</a></li>  
                <li><a href="{% url 'app:add' user.pk %}" class="text-white">投稿する</a></li>
                <li><a href="{% url 'app:society_profile' user.pk %}" class="text-white">ユーザー情報</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container d-flex justify-content-between">
        <a href="{%url 'app:society_home' user.pk %}" class="navbar-brand d-flex align-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2" viewBox="0 0 24 24" focusable="false"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
          <strong>学生向けSNS</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </header>

{% elif user.is_company %}
  <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">Menu</h4>
              <ul class="list-unstyled">
                <li><a href="{%url 'app:company_home' user.pk %}" class="text-white">top</a></li>
                <li><a href="{%url 'app:logout'%}" class="text-white">Logout</a></li>
                <li><a href="{%url 'app:login'%}" class="text-white">Change Account</a></li>  
                <li><a href="{% url 'app:add_company' user.pk %}" class="text-white">投稿する</a></li>
                <li><a href="{% url 'app:company_profile' user.pk %}" class="text-white">ユーザー情報</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark shadow-sm">
        <div class="container d-flex justify-content-between">
          <a href="{%url 'app:company_home' user.pk %}" class="navbar-brand d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2" viewBox="0 0 24 24" focusable="false"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
            <strong>学生向けSNS</strong>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>
{% endif %}
{% endblock header %}

{% block content %}   

<div class="card text-secondary" style="margin-top: 55px;">
 {% if post.images %}
 <img style="width: 100%; max-height: 500;" class="img-fluid mx-auto" src="{{ post.images.url }}">
 {% else %}
 <div class="p-1 border border-secondary text-center pt-5" style="min-width: 500; min-height: 400;">No images</div>
 {% endif %}  <div class="card-body">
   <h3 class="card-title font-weight-bold text-center">{{ post.title }}</h3>
   <div class="p-3">
   <p class="card-text">{{ post.content }}</p>
   {% if post.url %}
   <p>URL情報:<a href="{{post.url}}">{{post.url}}</a></p> 
   {% endif %}

   {% if user.is_student %}
   {%if post.is_society %}
   <p>投稿者:<a href="{%url 'app:detail_society' user.pk post.user.id %}">{{post.author}}</a></p>
   {% else %}
   <p>投稿者:<a href="{%url 'app:detail_company' user.pk post.user.id %}">{{post.author}}</a></p>
   {% endif %}
   <div id="like">
    {% include 'like.html' %}
   </div>
   {% else %}
   <p>　投稿者　{{post.author}}</p>
   <p>　投稿日　{{post.created_at}}</p>
   {% endif %}
   {% if user.is_society %}
    <p>いいね数 {{post.like.count}}</p>
    <a href="{% url 'app:edit' post_id=post.id %}"><button type="button" class="btn btn-outline-primary">編集</button></a>
    <a href="{% url 'app:delete' post_id=post.id %}"><button type="button" class="btn btn-outline-danger">削除</button></a>
   {% endif %}
   {% if user.is_company %}
    <a href="{% url 'app:edit_company' post_id=post.id %}"><button type="button" class="btn btn-outline-primary">編集</button></a>
    <a href="{% url 'app:delete_company' post_id=post.id %}"><button type="button" class="btn btn-outline-danger">削除</button></a>
   {% endif %}
 </div>
</div>
</div>
{% endblock %}