{% extends 'base.html' %}

{% block customecss %}
{% endblock customecss %}
 
{% block header %}
<header>
    <div class="collapse bg-dark" id="navbarHeader">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-7 py-4">
            <h4 class="text-white">Menu</h4>
            <ul class="list-unstyled">
              {% if user.is_student %}
                <li><a href="{%url 'app:student_home' user.pk %}" class="text-white">top</a></li>
                <li><a href="{%url 'app:logout'%}" class="text-white">Logout</a></li>
                <li><a href="{%url 'app:login'%}" class="text-white">Change Account</a></li>  
                <li><a href="{%url 'app:view_societies' user.pk %}" class="text-white">サークル一覧</a></li>
                <li><a href="{%url 'app:view_events' user.pk %}" class="text-white">イベント一覧</a></li>
                <li><a href="{% url 'app:student_profile' user.pk %}" class="text-white">ユーザー情報</a></li>
              {% elif user.is_society %}
                <li><a href="{%url 'app:society_home' user.pk %}" class="text-white">top</a></li>
                <li><a href="{%url 'app:logout'%}" class="text-white">Logout</a></li>
                <li><a href="{%url 'app:login'%}" class="text-white">Change Account</a></li> 
                <li><a href="{%url 'app:view_events' user.pk %}" class="text-white">イベント</li> 
                <li><a href="{% url 'app:add' user.pk %}" class="text-white">投稿する</a></li>
                <li><a href="#" class="text-white">ユーザー情報</a></li>
                {% endif %} 
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand d-flex align-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2" viewBox="0 0 24 24" focusable="false"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
          <strong><a class="navbar-brand" href="{%url 'app:student_home' user.pk %}">学生向けSNS</a></strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </header>
{% endblock header %}

{% block content %}   

<div class="card text-secondary" style="margin-top: 55px;">
<div class="card-body">
   <h3 class="card-title font-weight-bold text-center">{{ event.event_name }}</h3>
   <div class="p-3">
   <p class="card-text">{{ event.content }}</p>
   <p class="card-text">開催日時: {{ event.event_date |date:"y/n/j, H:i"}}</p>

  {% if user.is_student %}
      <p>サークル: </sa-kuru><a href="{%url 'app:detail_society' user.pk event.society.id %}">{{event.society.society_name}}</a></p>
      {% if event.joined %}
        <p>あなたはすでにこのイベントに申し込み済です。</p>
        <div style="text-align: center;">
          <div class="btn-group">
            <a href="{%url 'app:cancel_event' user.pk event.id %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">参加キャンセル</a>
          </div>
        </div>
      {% else%}
      <div style="text-align: center;">
        <div class="btn-group">
          <a href="{%url 'app:join_event_confirm' user.pk event.id %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">参加フォームへ</a>
        </div>
      </div>
      {% endif%}

  {% elif user.is_society %}
  <br>

   <h5 style="text-align:center">参加者名簿</h5>
   <br>
   <div style="text-align: center;">

    <style type="text/css">
    table {
      border-collapse: collapse;
      color: #333; /* 全体の文字色 */
      background-color: #f0f2f7; /* 全体の背景色 */
      width: 100%;
    }
    th, td {
      padding: 5px 15px;
      border: solid 1px #adb3c1;
    }</style>

    <table>
      <tr>
        <th>姓</th>
        <th>名</th>
        <th>メールアドレス</th>
      </tr>
      {% for student in event.students.all%}
      <tr>
        <td>{{student.first_name}}</td>
        <td>{{student.last_name}}</td>
        <td>{{student.email}}</td>
      </tr>
      {% endfor %}
    </table>

   </div>
  </div>

 <br>
  <div style="text-align: center;">
   <div class="btn-group">
     <a href="{%url 'app:edit_event' event.pk %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">イベント編集</a>
   </div>
 </div>

  <br>
  <div style="text-align: center;">
   <div class="btn-group">
     <a href="{%url 'app:delete_event' user.pk event.id %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">イベント削除</a>
   </div>
 </div>
 {% endif %}

</div>
</div>
{% endblock %}