{% extends 'base.html' %}
{% block content %}   

<div class="card text-secondary" style="margin-top: 55px;">
 {% if post.images %}
 <img style="width: 100%; max-height: 500;" class="img-fluid mx-auto" src="{{ post.images.url }}">
 {% else %}
 <div class="p-1 border border-secondary text-center pt-5" style="min-width: 500; min-height: 400;">No images</div>
 {% endif %}  <div class="card-body">
   <h3 class="card-title font-weight-bold text-center">{{ post.title }}</h3>
   <div class="p-3">
   <p class="card-text">{{ post.content }}</p>
   <p>投稿者　{{post.author}}</p>
   <p>いいね(・∀・)ｲｲﾈ!!　{{post.good}}</p>
   <p>閲覧数　{{post.read}}</p>
   <p>{{post.readtext}}</p>
   <a href="{% url 'app:edit' post_id=post.id %}"><button type="button" class="btn btn-outline-primary">編集</button></a>
   <a href="{% url 'app:delete' post_id=post.id %}"><button type="button" class="btn btn-outline-danger">削除</button></a>
 </div>
</div>
</div>
{% endblock %}