{% extends 'base_2.html' %}
{% load static %}

{% block customcss %}
<link rel='stylesheet' type='text/css' href="{% static 'jumbotron.css' %}">
{% endblock customcss %}

{% block content %}
<div class="w-50 mx-md-auto">
  <form class="form-signin" method="POST" action=''>{% csrf_token %}
    <br>
    <br>
    <h1 class="h3 mb-3 font-weight-normal">Please login</h1>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="text" id="inputEmail" class="form-control" name='username' placeholder="username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" class="form-control" name='password' placeholder="Password" required>
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div>

    {% if error %}
    {{ error }}
    {% endif %}

    <button class="btn btn-lg btn-primary btn-block" type="submit">Login</button>
    <p class="mt-5 mb-3 text-muted">&copy; 2017-2020</p>
  </form>
</div>
{% endblock content %}