{% extends 'base.html' %}
{% load static %}

{% block customcss %}
<link rel='stylesheet' type='text/css' href="{% static 'jumbotron.css' %}">
{% endblock customcss %}

{% block content %}
{% csrf_token %} 
  <h2>Sign up for a free account</h2>
  <p class="lead">Select below the type of account you want to create</p>
  <a href="{% url 'app:student_create' %}" class="btn btn-student btn-lg" role="button">大学生用アカウント</a>
  <a href="{% url 'app:user_create' %}" class="btn btn-teacher btn-lg" role="button">サークル用アカウント</a>

{% endblock content %}
