{% extends 'base.html' %}
{% load static %}

{% block customcss %}
<link rel='stylesheet' type='text/css' href="{% static 'album.css' %}">
{% endblock customcss %}

{% block header %}
<header>
    <div class="collapse bg-dark" id="navbarHeader">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-7 py-4">
            <h4 class="text-white">Menu</h4>
            <ul class="list-unstyled">
                <li><a href="{%url 'app:logout'%}" class="text-white">Logout</a></li>
                <li><a href="{%url 'app:login'%}" class="text-white">Change Account</a></li>
                <!-- <li><a href="#" class="text-white">投稿する</a></li> -->
                <li><a href="#" class="text-white">ユーザー情報</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand d-flex align-posts-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="mr-2" viewBox="0 0 24 24" focusable="false"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
          <strong>学生向けSNS</strong>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </header>

{% endblock header %}

{% block content %}
<h1 class="mt-5 pt-4 text-center">学生用投稿一覧</h1>
<div class="d-flex justify-content-center flex-wrap">
{% for post in object_list %}
<a href="{% url 'app:everypost' post_id=post.id %}">
<div class="card m-4" style="min-width: 300; max-height: 490;"></div>
  {% if post.images %}
    <img style="max-width: 300; max-height: 300;" class="card-img-top" src="{{ post.images.url }}"> 
  {% else %}
    <div class="p-1 border border-secondary text-center pt-5" style="min-width: 300; min-height: 225;">No images</div>
  {% endif %}
  <h4 class="card-title">{{post.title|truncatechars:10 | linebreaksbr}}</h4>
  <p class="card-text">
  　{{ post.content|truncatechars:17 }}
  </p>
  <p>投稿者　{{post.author}}</p>
  <!-- <p>{{post.good}}</p>
  <p>{{post.read}}</p> -->
  <p>{{post.readtext}}</p>
</a>
{% endfor %}
{% endblock content %}
</html>