{% extends 'base_student.html' %}
{% load static %}

{% block customcss %}
<link rel='stylesheet' type='text/css' href="{% static 'album.css' %}">
{% endblock customcss %}

{% block content %}
{% if student.image %}
<img style="width:200px; height: 200px; object-fit:cover; border-radius:50%; ;" class="card-img-top" src="{{ student.image.url }}"> 
{% endif %}
<table class="table">
    <tbody>
        <tr>
            <th>姓</th>
            <td>{{ student.first_name }}</td>
        </tr>
        <tr>
            <th>名</th>
            <td>{{ student.last_name }}</td>
        </tr>
        <tr>
          <th>ひとこと</th>
          <td>{{ student.about_me }}</td>
        </tr>
        <tr>
          <th>学校名</th>
          <td>{{ student.school_name }}</td>
        </tr>
        <tr>
          <th>学年</th>
          <td>{{ student.grade }}</td>
        </tr>
    </tbody>
</table>
<br>
<a class="btn btn-primary" href="{% url 'app:student_profile_update' user.pk %}">プロフィール更新ページ</a>
<h3 style="text-align:center">フォローしてるサークル</h3>
<main role="main">
    <div class="album py-5 bg-light">
        <div class="container">
        {% for society in following %} 
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <br>
                    <div class="card-body">
                        <!--<p class="card-text">This page is for students.</p>-->
                        <!--<p>サークル：{{society.society_name}}</p>-->
                        <p><a href="{%url 'app:detail_society' user.pk society.id %}">{{society.society_name}}</a></p>
                        <p>{{society.school_name}}</p>
                        <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                            <a href="{%url 'app:unfollow' society.email %}" class="btn btn-sm btn-outline-secondary" role="button" aria-pressed="true">フォロー解除</a>
                          </div>
                          <small class="text-muted">9 mins</small>
                        </div>
                      </div>
                </div>
            </div>
        </div>
        {% endfor %}
    
        </div>
    </div>
</main>
{% endblock %}
</html>